<div class="container-login">
  <mat-toolbar color="primary">
    <h1>한가람고 학생회장단 투표</h1>
  </mat-toolbar>
  <br>
  <form class="flexcolumn marginauto">
    <div class="marginauto">
      <mat-icon class="account_circle" svgIcon="account_circle"></mat-icon>
      <mat-form-field hintLabel="숫자 8개">
        <input type="text" matInput placeholder="학생 키" name="keyElement" maxlength="8" pattern="[0-9]{8}"
               autocomplete="off" required ngModel #keyElement #keyControl="ngModel"
               (input)="onInput(keyElement, keyControl)" [errorStateMatcher]="showOnDirtyErrorStateMatcher">
        <mat-error *ngIf="error">{{error}}</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
