<div class="container-login">
  <md-toolbar color="primary">
    <h1>한가람고 학생회장단 투표</h1>
  </md-toolbar>
  <br>
  <form (ngSubmit)="onLogin(keyElement, keyControl)">
    <div class="key_row">
      <md-icon class="account_circle" svgIcon="account_circle"></md-icon>
      <md-form-field hintLabel="최대 7자리의 자연수">
        <input type="number" mdInput placeholder="학생 키" name="keyElement" maxlength="7" autocomplete="off" required ngModel #keyElement #keyControl="ngModel">
        <md-error *ngIf="error">{{error}}</md-error>
      </md-form-field>
    </div>
    <br>
    <div class="login">
      <button type="submit" class="login" color="primary" md-raised-button>로그인</button>
    </div>
  </form>
</div>
<div class="marginauto copyright">Copyright © Overflow All Rights Reserved</div>
