<div class="vote-paper marginauto">
  <mat-toolbar color="primary">
    <h1 class="title">투표할 후보자를 선택하세요</h1>
  </mat-toolbar>
  <form (ngSubmit)="onVote(tabElement)">
    <mat-tab-group dynamicHeight="true" #tabElement>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon *ngIf="candidateNameToVote2" class="done" svgIcon="done"></mat-icon>
          2학년 회장단
        </ng-template>
        <mat-radio-group required name="candidateNameToVote2" [(ngModel)]="candidateNameToVote2">
          <mat-radio-button *ngFor="let candidateName of choiceService.cache.candidateNames.candidateNames2"
                           [value]="candidateName">
            {{candidateName}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-tab>
      <mat-tab [disabled]="choiceService.grade !== 1">
        <ng-template mat-tab-label>
          <mat-icon *ngIf="candidateNameToVote1M" class="done" svgIcon="done"></mat-icon>
          1학년 남자 부회장
        </ng-template>
        <mat-radio-group *ngIf="choiceService.grade === 1" required name="candidateNameToVote1M"
                        [(ngModel)]="candidateNameToVote1M">
          <mat-radio-button *ngFor="let candidateName of choiceService.cache.candidateNames.candidateNames1M"
                           [value]="candidateName">
            {{candidateName}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-tab>
      <mat-tab [disabled]="choiceService.grade !== 1">
        <ng-template mat-tab-label>
          <mat-icon *ngIf="candidateNameToVote1F" class="done" svgIcon="done"></mat-icon>
          1학년 여자 부회장
        </ng-template>
        <mat-radio-group *ngIf="choiceService.grade === 1" required name="candidateNameToVote1F"
                        [(ngModel)]="candidateNameToVote1F">
          <mat-radio-button *ngFor="let candidateName of choiceService.cache.candidateNames.candidateNames1F"
                           [value]="candidateName">
            {{candidateName}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-tab>
    </mat-tab-group>
    <div class="vote-actions">
      <button type="submit" [disabled]="!canVote()" mat-raised-button color="primary">모두 투표하기</button>
      <button mat-raised-button color="primary" (click)="choiceService.resetAuth(); router.navigate(['/login'])">로그인 화면으로
        돌아가기
      </button>
    </div>
  </form>
</div>
