<div class="container-login">
  <md-toolbar color="primary">
    <h1>관리자 로그인</h1>
  </md-toolbar>
  <br>
  <form (ngSubmit)="onLogin(passwordElement, passwordControl)">
    <div class="key_row">
      <md-icon class="account_circle" svgIcon="account_circle"></md-icon>
      <md-form-field hintLabel="기본값 hangaram">
        <input type="password" mdInput placeholder="관리자 비밀번호" name="passwordElement" maxlength="20" autocomplete="off" required ngModel #passwordElement #passwordControl="ngModel">
        <md-error *ngIf="error">{{error}}</md-error>
      </md-form-field>
    </div>
    <br>
    <div class="login">
      <button type="submit" class="login" color="primary" md-raised-button>로그인</button>
    </div>
  </form>
</div>
