<h1 md-dialog-title>관리자 비밀번호 변경</h1>
<div md-dialog-content>
  <md-form-field hintLabel="20자 이내">
    <input type="password" tabIndex="1" mdInput placeholder="변경할 관리자 비밀번호" name="passwordElement" maxlength="20" autocomplete="off" required ngModel #passwordElement #passwordControl="ngModel">
    <md-error *ngIf="error">{{error}}</md-error>
  </md-form-field>
</div>
<div md-dialog-actions>
  <button md-button (click)="onYesClick(passwordElement, passwordControl)" tabindex="2">변경</button>
  <button md-button (click)="onNoClick()" tabindex="-1">취소</button>
</div>
