<h1 md-dialog-title>학생 키 생성(기존 키 초기화)</h1>
<div md-dialog-content>
  <md-form-field>
    <input type="number" tabIndex="1" mdInput placeholder="생성할 1학년 키 개수" name="firstGradersElement" maxlength="4" required ngModel #firstGradersElement #firstGradersControl="ngModel">
    <md-error *ngIf="error1">{{error1}}</md-error>
  </md-form-field>
  <br>
  <md-form-field>
    <input type="number" tabIndex="2" mdInput placeholder="생성할 2학년 키 개수" name="secondGradersElement" maxlength="4" required ngModel #secondGradersElement #secondGradersControl="ngModel">
    <md-error *ngIf="error2">{{error2}}</md-error>
  </md-form-field>
  <md-form-field>
    <input type="number" tabIndex="3" mdInput placeholder="생성할 3학년 키 개수" name="thirdGradersElement" maxlength="4" required ngModel #thirdGradersElement #thirdGradersControl="ngModel">
    <md-error *ngIf="error3">{{error3}}</md-error>
  </md-form-field>
</div>
<div md-dialog-actions>
  <button md-button (click)="onYesClick(firstGradersElement, firstGradersControl, secondGradersElement, secondGradersControl, thirdGradersElement, thirdGradersControl)" tabindex="3">생성 후 키 다운로드(기존 키 초기화)</button>
  <button md-button (click)="onNoClick()" tabindex="-1">취소</button>
</div>
