/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"');

body {
  margin: 0;
}

hc-admin-result {
  overflow-x: hidden;
}

hc-login, hc-vote, hc-admin-login, hc-admin-result {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

hc-login:before, hc-login:after, hc-vote:before, hc-vote:after, hc-admin-login:before, hc-admin-login:after, hc-admin-result:before, hc-admin-result:after {
  flex-grow: 1;
  content: '';
}

hc-login:after, hc-vote:after, hc-admin-login:after, hc-admin-result:after {
  content: '© 2018 Overflow';
  color: rgba(0, 0, 0, 0.54);
  font-size: 11pt;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.account_circle {
  vertical-align: text-bottom;
}

.login-container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;

  padding: 30px;

  border: outset;
}

.account_circle {
  margin-right: 5px;
}

.login {
  margin: auto !important;
  width: 88px;
  align-items: center;
  align-content: center;
  child-align: middle;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
}

mat-radio-button {
  margin: 10px;
}

.vote-paper {
  border: outset;
  width: 500px;
  padding: 30px 30px 15px;
}

.vote-actions {
  text-align: right;
}

.result-card {
  margin: 10px auto;
}

mat-table {
  width: 30vw;
  height: 200px;
}

.marginauto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.nopadding {
  padding: 0 !important;
}

.flexrow {
  display: flex !important;
  flex-direction: row !important;
}

.flexcolumn {
  display: flex !important;
  flex-direction: column !important;
}

.width50 {
  width: 50% !important;
}

.margin10 {
  margin: 10px !important;
}

.admin-result-container {
  width: 100vw;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.initialize-content {
  width: 100%;
}

.students-dialog-table {
  width: 500px;
}

.students-dialog-filter {
  width: 500px;
}

.students-dialog-content {
  height: 750px;
}

.detail {
  width: 600px;
}

